.App {
  text-align: center;
  background-color: #244b99;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Icon {
  opacity: 1;
}

.Icon:hover {
  opacity: 0.65;
}

.Icon:active {
  opacity: 0.45;
}
