.App {
  text-align: center;
  background-color: #244b99;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.SectionTitle {
  font-size: calc(15px + 2vh);
}

.Icon:hover {
  opacity: 0.65;
  cursor: pointer;
}

.Icon:active {
  opacity: 0.45;
}
